@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    background: linear-gradient(134.38deg, rgb(152, 77, 56) -30.267%,rgb(24, 30, 65) 58.088%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.aktive{
    text-decoration: underline;
    color: #fff;
}
a, img, span, input, label, textarea{
    display: block;
}
a, span, p{
    font-family: "Inter", sans-serif;
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
}
.flex-between{
    justify-content: space-between;
}
.flex-align{
    align-items: center;
}
.container{
    width: 1085px;
    margin: 0 auto;
}
.header{
    width: 1440px;
    height: 101px;
    margin: 0 auto;
}
.explore img{
    width: 143.52px;
    height: 477px;
    align-items: center;
}
.explore p{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 700;
    line-height: 39px;
}
.sign img{
    width: 30px;
    height: 30px;
}
.sign a{
    display: flex;
}
.sign-in .continue{
    background: linear-gradient(213.82deg, rgb(183, 92, 255) 13.407%,rgb(103, 26, 228) 84.358%);
    width: 113px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    border-radius: 121px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 390px;
    margin-top: 10px;
}
.sign-in{
    margin-left: 100px;
}
.sign p{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}
.sign-in .container .sign{
    width: 527px;
    height: 699px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    margin: 0 auto;
}
.sign-in p a{
    color: rgb(108, 93, 211);
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}
.sign-in h3{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
}
.sign-in span{
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 95px;
    margin-bottom: 45px;
}
.sign-in h3, .sign-in p{
    margin-bottom: 60px;
    margin-left: 35px;

}
.sign input{
    width: 459px;
    height: 31px;
    background: none;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin-left: 35px;
}
.sign-in .link{
    width: 459px;
    height: 72px;
    box-sizing: border-box;
    border-radius: 171px;
    margin-bottom: 35px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin-left: 34px;
    transition: 5s;
}
.sign-in .sign a img{
    margin-right: 15PX;
}
.google{
    border: 0.5px solid rgb(255, 255, 255);
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.blue{
    background: rgb(24, 119, 242);
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.black{
    background: rgb(29, 29, 29);
    flex-direction: row;
    justify-content: center;
    align-items: center;
}










header input li{
    color: #fff;
}
header li{
    list-style: none;
}
header li a{
    color: #fff;
    list-style-type: none;
    margin-right: 40px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}
.submenu{
    display: none;
    width: 189px;
    height: 269px;
    border-radius: 10px;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
    background: rgb(33, 39, 73);
}
.submenu li{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 18.5px;
    margin-left: 15px;
}
.submenu .bor{
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
}
.menu{
    position: relative;
}
.link:hover .submenu{
    display: block;
    position: absolute;
    left: 420px;
    top: 40px;
}
header input{
    width: 358px;
    height: 48px;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 184px;
    text-align: end;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}
header .input-search[type="search"]{
    box-sizing: border-box;
    background-image: url(img/search.png);
    background-repeat: no-repeat;
    background-position: 30px;
}
header h1{
    color: rgb(108, 93, 211);
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}
header .wallet{
    width: 108px;
    height: 38px;
    border: 0.5px solid rgb(255, 255, 255);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #fff;
}




.choise{
    width: 993px;
    margin: 0 auto;
}
.choise .active{
    background: rgb(108, 93, 211);
    margin-top: 50px;
    margin-left: 250px;
}
.choise .no-active{
    background: rgb(73, 62, 82);
    margin-top: 50px;
    margin-right: 250px;
}
.choise a{
    width: 201.22px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13.41px;
    color: #fff;
    font-size: 18.78px;
    font-weight: 500;
    line-height: 28px;
    border-radius: 206.71px;
}


.sp-of-fashion{
    margin-top: 140px;
}
.sp-of-fashion h1{
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 800;
    line-height: 135%;
}
.sp-of-fashion p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 35px;
}
.sp-of-fashion h4{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
}
.sp-of-fashion a{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 35px;
}
.sp-of-fashion .zxc{
    text-align: center;
}
.sp-of-fashion .sp-left{
    margin-right: 10px;
}
.sp-of-fashion .sp-active{
    width: 161px;
    background: linear-gradient(213.82deg, rgb(183, 92, 255) 13.125%,rgb(103, 26, 228) 84.688%);
}
.sp-of-fashion .sp-noactive{
    width: 109px;
    background: rgba(255, 255, 255, 0.1);
    margin-left: 20px;
}
.sp-of-fashion .sp-right img{
    margin: 15px;
}
.m1{
    width: 187px;
    height: 140px;
    border-radius: 10px;
}
.m2{
    width: 187px;
    height: 108px;
    border-radius: 10px;
}
.m3{
    width: 187px;
    height: 220px;
    border-radius: 10px;
}
.m4{
    width: 187px;
    height: 220px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.m5{
    width: 187px;
    height: 127px;
    border-radius: 10px;
}
.m6{
    width: 179px;
    height: 159px;
    border-radius: 10px;
}
.m7{
    width: 187px;
    height: 412px;
    border-radius: 10px;
    margin-top: 30px;
}





.brand{
    width: 994.42px;
    margin: 0 auto;
}





.left img{
    width: 458px;
    height: 560px;
    border-radius: 10px;
}
.head h1{
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    margin-bottom: 10px;
    margin-top: 95px;
}
.head p{
    text-align: center;
    color: rgb(136, 136, 136);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 90px;
}
.right{
    margin-left: 90px;
}
.right h1{
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.right p{
    color: rgb(149, 146, 159);
    font-size: 20px;
    font-weight: 400;
    line-height: 200%;
}
.right a{
    width: 161px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    border-radius: 6px;
    background: linear-gradient(213.82deg, rgb(183, 92, 255) 12.857%,rgb(103, 26, 228) 85%);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 30px;
}






.all-coll{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 65px;
}
.all-coll h1{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    margin-top: 10px;
}
.all-coll p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 500;
    line-height: 38px;
}
.all p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}
.all{
    width: 941px;
    height: 133px;
    margin: 0 auto;
}
.all img{
    align-items: center;
}
.all .all1{
    margin-left: 9px;
}
.all .all2{
    margin-left: 38px;
}
.all .all3{
    margin-left: 59px;
}



.links{
    width: 1225px;
    height: 40px;
    margin: 0 auto;
}
.links a{
    width: 230px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 70px 5px 70px;
    border-radius: 10px;
    margin-left: 15px;
    color: #fff;
}
.links .a-active{
    background: linear-gradient(214.22deg, rgb(183, 92, 255) 14.221%,rgb(103, 26, 228) 83.409%);
}
.links .a-noactive{
    background: rgba(255, 255, 255, 0.1);
}

.gray{
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
}
.white{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
.card{
    width: 389px;
    height: 565px;
    border-radius: 10px;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.1);
    margin: 10px;
}
.down{
    margin-top: 10px;
}
.image{
    width: 337px;
    height: 380px;
    margin: 26px;
}
.card a{
    width: 291px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background: linear-gradient(213.82deg, rgb(183, 92, 255) 14.371%,rgb(103, 26, 228) 83.233%);
    margin-top: 10px;
    margin-left: 30px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;

}
.suui img{
    width: 27px;
    height: 24px;
    margin-top: 26px;
    margin-left: 20px;
}





.creator{
    width: 389px;
    height: 555px;
    border-radius: 10px;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.1);
}
.up{
    height:265px;
    width: 389px;
    position: relative;
}
.downn{
    height: 290px;
    width: 389px;
}
.bg1{
    background-image: url(img/brand/bg-creator1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg2{
    background-image: url(img/brand/bg-creator2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg3{
    background-image: url(img/brand/bg-creator3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.creator{
    margin: 10px;
}
.creator-img{
    border-radius: 100%;
    width: 99px;
    height: 99px;
    margin-left: 150px;
}
.creator-a{
    margin-left: 150px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
.creator-a img{
    width: 18px;
    height: 17px;
    margin-top: 5px;
    margin-left: 3px;
}
.creator-info{
    margin-bottom: 45.5px;
    position: absolute;
}
.creator-info p{
    width: 327px;
    height: 46px;
    text-align: center;
    margin-left: 40px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
}
.follow{
    width: 337px;
    height: 50px;
    background: linear-gradient(214.22deg, rgb(183, 92, 255) 14.526%,rgb(103, 26, 228) 83.053%);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-left: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}
.followed{
    margin: 0px 10px;
    background: linear-gradient(213.82deg, rgb(183, 92, 255),rgb(103, 26, 228));
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    background: transparent;
    border: 1px solid purple;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;    

}
.bra1{
    background-image: url(img/brand/bg-brand1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.bra2{
    background-image: url(img/brand/bg-brand2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.bra3{
    background-image: url(img/brand/bg-brand3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.questi{
    width: 591px;
    height: 50px;
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-left: 5px;
}
.questi[type="search"]{
    box-sizing: border-box;
    background-image: url(img/plus.svg);
    background-repeat: no-repeat;
    background-position: 580px;
}
.get-started{
    border-radius: 10px;
    background: linear-gradient(213.82deg, rgb(183, 92, 255) 13.564%,rgb(103, 26, 228) 84.175%);
    margin-top: 100px;
    height:  250px;
}
.start{
    margin-top: 50px;
}
.get-started h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 700;
    line-height: 75px;
    text-align: center;
    margin-top: 150px;
}
.get-started a{
    width: 155px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 30px;
    margin: 0 auto;
}








.company-foot, .about-foot, .contact-foot{
    margin-left: 130px;
}
footer .logo-foot h3{
    color: rgb(108, 93, 211);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
footer .about-foot h3, .company-foot h3, .contact-foot h3{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
footer .logo-foot p{
    width: 288px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
}
footer .about-foot a, .company-foot a, .contact-foot a{
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    margin-top: 20px;
}
.icons{
    width: 155px;
    margin-top: 20px;
}
















.right-who {
    position: relative;
    width: 374px;
    height: 447px; 
}

.photo1, .photo2, .photo3 {
    position: absolute;
    object-fit: cover;
    display: flex;
}
.photo1{
    width: 274px; 
    height: 347px;
    top: 65px;
    left: 70px;
    border-radius: 10px;
}
.photo2{
    bottom: 25px;
    right: 25px;
    width: 324px;
    height: 397px;
    border-radius: 10px;
}
.photo3{
    bottom: 50px;
    right: 50px;
    width: 324px;
    height: 397px;
    border-radius: 10px;
}
.first h1, .second h1{
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 800;
    line-height: 135%;
}
.first p, .second p{
    width: 617px;
    height: 144px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 500;
    line-height: 180%;
}
.first a, .second a{
    width: 110px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background: linear-gradient(214.22deg, rgb(183, 92, 255) 11.485%,rgb(103, 26, 228) 86.601%);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 50px;
}
.first h4{
    color: rgb(108, 93, 211);
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}
.first span{
    width: 92px;
    height: 2px;
    border-radius: 1.5px 1.5px 0px 0px;
    background: rgb(108, 93, 211);
}
.head-wh{
    width: 617px;
    height: 382px;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 180px;
    margin-top: 100px;
    text-align: center;
}
.head-wh h3{
    color: rgb(108, 93, 211);
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}
.head-wh span{
    width: 91px;
    height: 2px;
    border-radius: 1.5px 1.5px 0px 0px;
    background: rgb(108, 93, 211);
    display: inline-block;
}
.head-wh h1{
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 800;
    line-height: 135%;
    text-align: center;
}
.head-wh p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 500;
    line-height: 180%;
    text-align: center;
}
.head-wh a{
    width: 110px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background: linear-gradient(214.22deg, rgb(183, 92, 255) 11.485%,rgb(103, 26, 228) 86.601%);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;

}
.first{
    width: 1168px;
    height: 485px;
}
.second{
    margin-top: 150px;
    width: 1168px;
    height: 485px;
}






.head-who{
    width: 617px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.head-who h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    line-height: 135%;
}
.head-who p{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 180%;
}
.maker p, a{
    text-align: center;
}
.maker{
    text-align: center;
    margin-bottom: 50px;
}
.maker a{
    width: 126px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 150px;
    background: rgba(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    display: inline-block;
}
.maker p{
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.makers{
    margin-bottom: 100px;
}

